<!DOCTYPE html>
<html>
<head>
    <title>Astrico Admin Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to learner-assessor-db-app Portal</h1>
        <ul class="nav-links">
            <li><a href="/learners/add">Add Learner</a></li>
            <li><a href="/assessors/add">Add Assessor</a></li>
            <li><a href="/institutions/add">Add Institution</a></li>
            <li><a href="/summary/">View Summary</a></li>
        </ul>
    </div>
</body>
</html>
